@import './style.scss';

#header {
    padding: 0 40px;
    width: 100%;
    min-width: 1280px;
    height: 84px;
    display: flex; align-items: center; justify-content: space-between;
    position: fixed;
    .gnb>ul {display: flex;}
    z-index: 1000;
}
.header{
    background-color: $bg-wh;

}

.top {
    background-color: transparent;
    >.gnb>ul>li>a, .right {
        color: #F9F9F9;
    }

    .bar {background: #F9F9F9;}
}

#header>#scrollProgressBar {
    background-color: $black20;
    bottom: 0;
    height: 1px;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: -1;
}

#header>#scrollProgressBar>div {
    background-color: $primary100;
    bottom: 0;
    height: 3px;
    left: 0;
    position: absolute;
    width: 0;
}

.gnb>ul>li>div {
    display: none;
    position: absolute; top: 84px;
    background: #ffffff;
    left: 50%;
    transform: translateX(-50%);
    width: 1280px;
    z-index: -2;
}

.gnb {
    >ul>li {margin: 0 30px;}
    >ul>li:hover {
        >a {color: #247a49;}
        .depth2 {display: block;}
    }
}

#header .gnb>ul>li>div>ul {
    max-width: 1280px; padding: 0 40px;
    margin: 0 30px;
    border-left: 1px solid $black20;
    border-right: 1px solid $black20;
}

#header .gnb>ul>li>div>ul>li {
    padding: 30px 30px;
    width: 25%;
    display: inline-block;
    vertical-align: top;
    // border-left: 1px solid $black20;
    // border-right: 1px solid $black20;
}

#header .gnb>ul>li>div>ul>li>ul {
    color: $black40;
    margin-top: 14px;
    font-size: 15px;
}

#header .gnb>ul>li>div>ul>li>ul>li {
    margin-top: 12px;
    font-size: 14px;
}

.df {display: flex;}

.right {
    margin-top: 5px;
    gap: 18px;
    a { height: 40px; width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 2px;
    }
    a:hover {
        background: $black20;
        border-radius: 50%;
    }
}



.boxWrap {
    width: 32px;
    height: 38.39px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2px;
}

.bar {
    width: 25px;
    height: 2px;
    background: $black80;
    border-radius: 3px;
    position: absolute;
}

.bar.start {
transform: translateY(-9px);
} 
.bar.end {
transform: translateY(9px);
} 

.boxWrap.active .bar.start {
    transform: translateY(0) rotate(45deg);
}
.boxWrap.active .bar.end {
    transform: translateY(0) rotate(-45deg);
}
.boxWrap.active .bar.middle {
    /* 애니매이션 적용하기위해 d-none 대신 사용 */
    opacity: 0;
}

.global h1 {padding-top: 1px;}